*.o
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
libdeps/*.zip
libdeps/*.tar.gz
libdeps/*.tar.bz2
libdeps/liblo-*.*
libdeps/chai3d
libdeps/ode-*.*.*
obj/
src/.deps/
src/*.o
src/dimple
src/Makefile
src/Makefile.in
src/stamp-h1
src/config.h
src/config.h.in
